html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.game-container {
  width: 100%;
  height: calc(100vh - 60px); /* Adjust 60px to match navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}